fastapi
uvicorn[standard]

numpy
pandas
opencv-python
pillow

insightface
onnxruntime-gpu

psycopg2-binary
sqlalchemy

redis
kafka-python

python-dotenv
pydantic
pydantic-settings

loguru

python-multipart
jinja2
aiofiles